<head>
  <title>All Songs</title>
</head>

<body>

<div class="container-fluid">

  <h1>All Songs</h1>
  <hr/>

  <% @songs.order(count: :desc).each do |song| %>
    <div class="vote">
      <a href="up_vote/<%= song.id %>"><img src="images/up_arrow.png"></a>
      <div id="count"><%= song.count %></div>
      <a href="down_vote/<%= song.id %>"><img src="images/down_arrow.png"></a>
    </div>
    <div class="song">
      <h3><a href="songs/<%= song.id %>"><%= song.title %></a> <small>by: <%= song.artist %></small></h3>
      <p>
        <a href="<%= song.url %>"><%= song.url %></a>
      </p>
      <div id="rating">Average Rating</div><div id="add_review"><a href="/songs/<%= song.id %>">Add Review</a></div>
      <p>Added by: <%= User.find(song.user_id).username %></p>
    </div>
  <% end %>

</div>

</body>

</html>
