<head>
  <title>Song Details</title>
</head>

<body>

<div class="container-fluid">

  <h1><%= @song.title %></h1>

  <p class="lead">Artist: <%= @song.artist %></p>

  <p class="lead"><a href="<%= @song.url %>"><%= @song.url %></a></p>

  <p class="small">created at: <%= @song.created_at %></p>

  <h3>Add Review</h3>

  <% session[:song_id] = @song.id %>

  <% if @review.errors.any? %>
    <div class="alert-warning">
    <h5>Some issues with your review, please fix them:</h5>
      <ul>
        <% @song.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_user && Review.find_by(user_id: current_user, song_id: @song.id) %>
    <p>You've already reviewed this song! </p>
    <p><a href="/songs">Back to Songs</a></p>
  <% elsif current_user %>
    <form role="form" method="post" action="/reviews">
      <div class="form-group">
        <label for="rating">Rating:</label>
        <input type="integer" name="rating" class="form-control">
      </div>
      <div class="form-group">
        <label for="review">Review:</label>
        <input type="text" name="review" class="form-control">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  <% else %>
    <p><a href="/users/login">Login</a> to add a review</p>
  <% end %>

  <h3>Reviews</h3>
  <% unless @song.reviews.empty? %>
    <% @song.reviews.order(created_at: :desc).to_a.each do |review| %>
      <hr/>
      <p>Rating: <%= review.rating %></p>
      <p><%= review.review %></p>
      <p class="small">by: <%= User.find(review.user_id).username %> <%= (review.created_at.to_date - Date.today).to_i %> days ago</p>
    <% end %>
  <% end %>

  <p>
  <% if Song.where(artist: @song.artist).where.not(title: @song.title).any? %>
    Other songs by <%= @song.artist %>:
    <br><% Song.where(artist: @song.artist).to_a.each do |song| %>
      <% if song.title != @song.title %> 
        <br><%= song.title %> <small><%= song.url %></small>
        <br><small>created at: <%= song.created_at %></small><br>
      <% end %>
    <% end %>
  <% end %>
</p>

</div>

</body>


